body, html {
    height: 100%;
}

.form_middle{
	margin-top: 20px;
}

.post-middle input{
	border: none !important;
	padding: 0 !important;
	font-weight: bold;
	font-size: 20px;
	margin-top: 20px;
}

.form_msg{
	font-weight: bold;
	font-size: 35px;
	padding: 10px;
	text-align: center;
}

.form_bg{
	height: 100%;
}

.form_middle{
	position:absolute;
	width: 60%;
    left: 50%;
	transform: translate(-50%, 0%);
	margin-bottom: -5px;
	margin-right: -50%;
}
