body, html {
    height: 100%;
}

label{
	font-weight: bold;
}

.form_msg{
	font-weight: bold;
	font-size: 35px;
	padding: 10px;
	text-align: center;
}

.form_bg{
	height: 100%;
	background-image: url("../images/video_bg.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.form_middle{
	position:absolute;
	width: 70%;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
	margin-bottom: -5px;
	margin-right: -50%;
	
	border:0px solid #fff;
    -webkit-box-shadow: 10px 2px 22px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 2px 22px 0px rgba(0,0,0,0.75);
	box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
}

.form_left{
	width: 30%;
	padding:0;
	background-color: #253f52;
	text-align: center;
	display: flex;
    align-items: center;
    justify-content: center
}

.form_right{
	width: 70%;
	background-color: rgba(255, 255, 255,0.75);
	padding: 20px;
}